{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
    <h1 class="text-center">Liste des villes</h1>
    <div class="container bg-white ">


        <table class="table">
            <thead>
            <tr>

                <th>Nom</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>

                    <td>{{ city.name }}</td>
                    <td>
                        <a href="{{ path('app_city_show', {'id': city.id}) }}">Voir</a>
                        <a href="{{ path('app_city_edit', {'id': city.id}) }}">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun enregistrement.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary"><a class="text-white text-decoration-none" href="{{ path('app_city_new') }}">Ajouter</a></button>
        <button class="btn btn-primary text-decoration-none text-white"><a class="text-white text-decoration-none" href="{{ path('app_base') }}">Retour</a></button>

    </div>
{% endblock %}
