{% extends 'base.html.twig' %}

{% block title %}Flight{% endblock %}

{% block body %}
    <span class="text-center"><h1>Détail du vol</h1></span>
    <div class="container bg-white rounded">


        <table class="table">
            <tbody>
            <tr>
                <th>Numéro de vol</th>
                <td>{{ flight.flightNumber }}</td>
            </tr>
            <tr>
                <th>Heure de départ</th>
                <td>{{ flight.departureDatetime ? flight.departureDatetime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Heure d'arrivée</th>
                <td>{{ flight.arrivalDateTime ? flight.arrivalDateTime|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ flight.price }}</td>
            </tr>
            <tr>
                <th>Promotion</th>
                <td>{{ flight.reduction ? 'oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Nombre de siège maximum</th>
                <td>{{ flight.seatMax }}</td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary text-white"><a class="text-white text-decoration-none" href="{{ path('app_base') }}">Retour à la liste</a></button>


        <button type="button" class="btn btn-primary text-white"><a class="text-white text-decoration-none" href="{{ path('app_flight_edit', {'id': flight.id}) }}">Editer</a></button>

        {{ include('flight/_delete_form.html.twig') }}
    </div>
{% endblock %}
